# Trac User to GitHub user mapping.
USER_MAPPING = {
    'adi': ('adiroiban', 'Adi Roiban <adi.roiban@chevah.com>'),
    'danuker': ('danuker', 'Dan Haiduc <danuthaiduc@gmail.com>'),
    }

# GitHub User to GitHub UID mapping (for avatar purposes).
UID_MAPPING = {
    'adiroiban': 204609,
    }

# Users that are allowed by GitHub
# to be assignees of issues in the target repositories.
ASSIGNABLE_USERS = {
    'adiroiban',
    }

TRAC_TICKET_PREFIX = 'https://trac.chevah.com/ticket/'

# None or a tuple of (name, email)
# This is used for Trac users that don't have GitHub mapping.
DEFAULT_GITHUB_USER = None

# Wiki page file extension.
FILE_EXTENSION = '.mediawiki'

# Trac ticket Component to GitHub repository mapping.
REPOSITORY_MAPPING = {
    'client': 'client',
    'commons': 'commons',
    'trac-migration-staging': 'trac-migration-staging',
    }

# GitHub repository for Trac tickets with Component not in the mapping.
FALLBACK_REPOSITORY = 'server'

# Owner of GitHub repositories where to create issues.
OWNER = 'chevah'

# Organization to add projects in.
PROJECT_ORG = 'SHOULD REMOVE PROJECTS'

# The root URL of the attachment files, containing the ticket/ and wiki/ dirs.
ATTACHMENT_ROOT = 'https://raw.githubusercontent.com/twisted/twistedmatrix.com-trac-attachments/trunk/'

# The user to create the issues through the API.
# Create a token with `repo` permissions here:
# https://github.com/settings/tokens
OAUTH_USER = 'danuker'
OAUTH_TOKEN = 'ghp_qwertyuiop'
