# Trac User to GitHub user mapping.
USER_MAPPING = {
    'adi': ('adiroiban', 'Adi Roiban <adi.roiban@chevah.com>'),
    'danuker': ('danuker', 'Dan Haiduc <danuthaiduc@gmail.com>'),
    }

TRAC_TICKET_PREFIX = 'https://trac.chevah.com/ticket/'

# None or a tuple of (name, email)
# This is used for Trac user that don't have GitHub mapping.
DEFAULT_GITHUB_USER = None

FILE_EXTENSION = '.mediawiki'

# Trac ticket Component to GitHub repository mapping.
REPOSITORY_MAPPING = {
    'client': 'client',
    'commons': 'commons',
    'trac-migration-staging': 'trac-migration-staging',
    }

# GitHub repository for Trac tickets with Component not in the mapping.
FALLBACK_REPOSITORY = 'server'

# Owner of GitHub repositories where to create issues.
OWNER = 'chevah'

# The user to create the issues through the API.
# Create a token with `repo` permissions here:
# https://github.com/settings/tokens
OAUTH_USER = 'danuker'
OAUTH_TOKEN = 'ghp_qwertyuiop'
