# Trac User to GitHub user mapping
USER_MAPPING = {
    'adi': ('adiroiban', 'Adi Roiban <adi.roiban@chevah.com>'),
    }

TRAC_TICKET_PREFIX = 'https://trac.chevah.com/ticket/'

# Component to GitHub repository mapping
REPOSITORY_MAPPING = {
    'client': 'client',
    'commons': 'commons',
}

FALLBACK_REPOSITORY = 'server'
